@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
	font-family: "楷体";    					/*定义字体的*/
}
body{
	height:100%
}
/*整个框架*/
#admin_home_page{
	width:90%;
	height:100%;
	border:#0F0 0px solid;
	margin:auto;        /*居中对齐*/
	top:0;
	bottom:0;
}
/*框架的top部*/
#admin_home_top{
	width:100%;
	height:14.8%;
	min-height:5.625em;
	height:auto !important; 
	border:#F00 0px solid;
	/*background: #0B6FB0 url(/admin/images/admin_home_top.png) repeat-x left;
	background-repeat:no-repeat;
	position:static;
	-moz-background-size:cover;
	-webkit-background-size:cover; 
	-ms-background-size:cover; */ 
}
	#admin_home_top_font1{
		position:absolute;
		top:0.625em;
		right:8.375em;
		display:inline-block;
		z-index:1;
	}
	#admin_home_top_font1 a{
	    padding:4px 5px 4px 25px;
		zoom:1;         /*下面这两行是解决没有上下边框问题的outline:none;	overflow:hidden;*/
		font-size:0.875em;
		color:#FFF;
		
	}
	#admin_home_top_font1 div{
		float:left;
	}
	#admin_home_top_font_x{
		background-image:url(images/admin_page_x.png);
		width:1.25em; 
		height:1.25em;
		position:absolute;
		top:0.1875em;
		right:15.625em;	
	}
	#admin_home_top_font_g{
		background-image:url(images/admin_page_g.png);
		width:20px; 
		height:20px;
		position:absolute;
		top:2px;
		right:155px;	
	}
	
	#admin_home_top_font_t{
		background-image:url(images/admin_page_t.png);
		width:20px; 
		height:20px;
		position:absolute;
		top:3px;
		right:61px;	
	}
	
	


	#admin_home_top_font2{
		position:absolute;
		top:60px;
		right:378px;
		display:inline-block;
		z-index:1;
	}
	#admin_home_top_font2 a{
	    padding:4px 5px 4px 25px;
		zoom:1;         /*下面这两行是解决没有上下边框问题的outline:none;	overflow:hidden;*/
		font-size:0.875em;
		color:#FFF;
	}
	#admin_home_top_font_qq a{
	    padding:4px 25px 4px 5px;
		zoom:1;         /*下面这两行是解决没有上下边框问题的outline:none;	overflow:hidden;*/
		font-size:0.875em;
		color:#FFF;
	}
	#admin_home_top_font2 div{
		float:left;
	}
	#admin_home_top_font_sy{
		background-image:url(images/admin_page_sy.png);
		width:20px; 
		height:20px;
		position:absolute;
		top:2px;
		right:570px;	
	}
	#admin_home_top_font_h{
		background-image:url(images/admin_page_h.png);
		width:20px; 
		height:20px;
		position:absolute;
		top:2px;
		right:497px;	
	}
	#admin_home_top_font_q{
		background-image:url(images/admin_page_q.png);
		width:20px; 
		height:20px;
		position:absolute;
		top:2px;
		right:389px;	
	}
	#admin_home_top_font_s{
		background-image:url(images/admin_page_s.png);
		width:20px; 
		height:20px;
		position:absolute;
		top:3px;
		right:351px;	
	}
	
	#admin_home_top_font_sz{
		background-image:url(images/admin_page_sz.png);
		width:20px; 
		height:20px;
		position:absolute;
		top:3px;
		right:278px;
	}
	#admin_home_top_font_szs a{
		text-decoration:none;
	}
/*框架的中间部分*/
#admin_home_among{
	width:99.7%;
	height:79.5%;
	height:auto !important;
	min-height:490px; 
	border:#0B6FB0 2px solid;
}
/*框架的中间部分的左部*/
#admin_home_left{
	width:198px;
	height:79.5%;
	min-height:490px;
	height:auto !important; 
	border-right-style:solid;
	border-color:#0B6FB0;
	border-width:2px;
}
/*框架的中间部分的右部*/

/*框架的bottom部*/
#admin_home_bottom{
	color:#FFF;
	width:100%;
	height:5.7%;
	min-height:35px;
	height:auto !important; 
	border:#0B6FB0 0px solid;
	background-color:#0B6FB0;
	line-height:35px;
	text-align:center;
	
}