/* CSS Document */
@charset "utf-8";
/*整个边距*/
*{
	margin: 0;
	padding:0;
}
/*整个body的设置*/
body{
	background-image:url(/images/admin_dl_page_bg.jpg);
	position:static;
	background-repeat:no-repeat;
	background-position: center 0;
/*	background-attachment:fixed;*/ /*这个要不得*/ 
	background-size:120%; /*而已让窗口缩小时 背景下方不会出现空白*/
	zoom: 1;/*缩放的效果*/
	/*或者100%*/   /*让背景图自动适应屏幕 position: fixed; background-attachment: fixed;*/
	-moz-background-size:cover;
	-webkit-background-size:cover; 
	-ms-background-size:cover; 
	width:100%; 
	height:100%;
}
/*整个框架*/
#idmin_dl_page{
	border:0px solid #FFF; 
	border-radius:10px; 
	width:750px; 
	height:400px;
	margin:8% auto 6% auto;         	 /*居中对齐*/
}
/*顶部字样的*/
#idmin_dl_page_top{
	background-color: #0B6FB0;
	width: 750px;
	height: 80px;           			/*定义div的宽与高*/
	border: 0px solid #FFF;
	border-bottom-style: none;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-left: -2px;
	margin-top: -2px;
	font-family: "楷体";    					/*定义字体的*/
	font-size:45px;
	color:rgba(255,255,255,0.9);
	text-align: center;
	line-height: 80px;
}
/*中间区域的设置*/
#idmin_dl_page_area{ 
	background-color:rgba(29,155,213,0.6);    /*定义区域颜色，和透明度*/
	width:750px; 
	height:270px;
	margin-left:-2px;
	position:relative;
}
	/* 1、两个div浮动*/
	#idmin_dl_page_area div{
		float:left;          			/*用于表格向左浮动  两个div 浮动才不会有异样*/
	}
	/* 2、区域中左边的汽车图片*/
	#idmin_dl_page_image{
		width:300px;         			/*设置图片的宽与高*/
		height:270px;
	}
	/* 3、区域中右边的登录页面*/
	#idmin_dl_page_dl{
		width:450px;                    /*设置登区域的宽与高*/
		height:270px;
		
	}
	   /*管理字样*/
	  .idmin_dl_page_dl_g{
		  font-family:"楷体";            /*定义字体的*/
		  font-size: 32px;
		  color: white;
		  text-align:left;
		  line-height: 50px;
	  }
	   .idmin_dl_page_dl_g .span1{ font-size:18px;}
	  
	  
	  /*三个输入框的设置*/
	  .idmin_dl_page_dl_yzm,.idmin_dl_page_dl_m,.idmin_dl_page_dl_yhm{
		  font-family:"楷体";     
		  font-size: 22px;          	 /*定义字体的*/
		  color: white;
		  line-height:40px;
	  }
	  /*用户密码输入框的设置*/
	  .idmin_dl_page_dl_yhm_sru{
		  height:40px;
		  width:230px;
		  border:0;             		/*定义用户密码的输入框的*/
		  border-radius:5px;
		  background-color:rgba(255,255,255,0.8);
		  color:#666;
		  font-size:12px;
		  line-height:40px;
		  vertical-align:middle;
	  }
	  /*验证码的输入框的设置*/
	  .idmin_dl_page_dl_yhm_x{
		  height:40px;
		  width:120px;
		  border:0;              		
		  border-radius:5px; 			 /*直接把边框圆角*/
		  background-color:rgba(255,255,255,0.8);
		  color:#666;        		/*定义字体颜色的*/
		  font-size:12px;
		  line-height:40px;
		  vertical-align:middle;
	  }
	  /*ie
	   @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
		 .idmin_dl_page_dl_yhm_x{ width:119px;}		
		}*/
		/*ff
		@-moz-document url-prefix(){
			.idmin_dl_page_dl_yhm_x{ width:119px;}	
		}*/
	  /*验证码图片*/
	  /*.position{ position:relative;}*/
	  #catcha_image{
		            				/*直接把验证码图片圆角*/
		  /*padding:0px 6px 0px 8px;
		  background-color:#FFFFFF;
		  display:inline-block;
		  position:absolute; 
		  left:100px; 
		  top:0px;*/
		  border-radius:5px; 
		  vertical-align:middle;
	  }
	  /*IE浏览器的清空图标不显示*/
	  .idmin_dl_page_dl_yhm_sru::-ms-clear { display: none; }
	    .idmin_dl_page_dl_yhm_sru::-ms-reveal { display: none; }
	  .idmin_dl_page_dl_yhm_x::-ms-clear{ display: none;}
	  
	  /*清除图片位置*/
	  .idmin_dl_page_image_yhm1{
		  margin-top:-40px;            /*调整清空图片的位置*/
		  margin-left:196px;
	  }
	  /*清除图片位置*/
	  .idmin_dl_page_image_yhm2{
		  margin-top:-40px;            /*调整验证码清空图片的位置 86px*/  
		  margin-left:80px;
	  }
	  /*清除图片开始不显示*/
	  .idmin_dl_page_image_yhm1,.idmin_dl_page_image_yhm2{
		  display:none;                /*不显示清除符号*/
	  }
	  .qingchuanniu{ position:absolute; left:0px; top:43px; z-index:999;}
	  @media screen and (-webkit-min-device-pixel-ratio:0){
		.qingchuanniu{top:45px;	}  
	  }
	  .qingchuanniu1{ position:absolute; left:6px; top:43px; z-index:999;}
	  @media screen and (-webkit-min-device-pixel-ratio:0){
		.qingchuanniu1{top:45px;	}  
	  }
	  /*
	  .idmin_dl_page_dl_yhm_y{
		  height:40px;
		  width:100px;
		  border:0;
		  background-color:#0F0;
	  }
	  */
	  /*请输入字样的设置*/
	  .warning{
		  font-family:"楷体";
		  color:rgba(255,255,255,0.8);
		  text-decoration:none;         /*定义*请输入文字的*/
		  font-size:14px;
		  font-weight:bold;
	  }
	  .idmin_dl_page_dl_d{ padding-top:5px;}
	  /*登录字样的设置*/
	  .loginbtn{
		  background-color:#209ED6;
		  color:rgba(255,255,255,0.9);
		  border:0px;
		  border-radius:5px;             /*登录字体的边框*/
		  padding:7px 85px;
		  text-align:center;
		  font-family:"楷体";
		  font-size:23px;
		  vertical-align:middle;
	  }
	  /*IE*/
	  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
		 .loginbtn{  background-color:#1899D3;}		
		}
	  /*注册字样设置*/
	  .idmin_dl_page_dl_zc{
		  font-family:"楷体";
		  color:rgba(255,255,255,0.9);       /*字体颜色 和 透明度*/
		  font-size:14px;
		  text-decoration:none;
		  height:15px;
		  line-height:15px;
	  }
	  .idmin_dl_page_dl_zcc input,.idmin_dl_page_dl_zcc lable{vertical-align:middle;}
	  #check{ margin-top:-3px;}
	  .idmin_dl_page_dl_zc span{vertical-align:middle;}
	  #idmin_dl_page_dl_zc a:hover{
		  text-decoration:underline;         /*注册字样鼠标移到有下划线*/
	  }
	  #idmin_dl_page_dl_zc{                  /*注册字样 向左移50px*/
		 /*margin-left:30px;                 
		 vertical-align:middle;
		 margin-top:-2px; 
		 margin-bottom:1px;*/
		position:absolute;
		top:247px;
		right:0.5em;
		display:inline-block;
		z-index:1;
	  }
/*底部的框架 版权所有*/
#idmin_dl_page_bottom{ 
	background-color:#0B6FB0;  				 /*定义盒子的*/ 
	width:750px; 
	height:50px;               				/*必须定义盒子的高度跟宽度*/
	min-height:50px;
	border:0px solid #FFF; 
	border-top-style:none; 
	border-bottom-left-radius:10px; 
	border-bottom-right-radius:10px;
	margin-left:-2px; 
	font-family:"楷体";   					/*设置底部版权的字体*/
	font-size:15px;
	color:rgba(255,255,255,0.9);
	text-align:center;
	line-height:50px;
}