@charset "utf-8";
/* CSS Document */
/*导航样式*/
.index_nav1 .index_nav1_buy a{background-color:#0A6089;}

/*内容区域*/
.buy_content{font-family:"微软雅黑"; }
	
	.buy_content .buy_content_details{ font-size:13px; line-height:18px; font-family:"微软雅黑"; color:#333;	}
	.details_top .top_left{}
	.details_top .top_right{ width:580px;}
	.top_right .right_{ font-size:13px;}
	.right_ .right_top{ margin-bottom:5px;}
	.right_top h1{font-size:24px;color:#333;font-weight:bold;line-height:50px;}
	.right_top .span1{}
	
	
	
	.right_ .right_content{line-height:25px; background:rgba(231,241,247,0.3); border-bottom:1px solid #ccc;}
	.right_content .con_top{ line-height:40px;}
	.right_content .con_top .span11{}
	.right_content .con_top .span21{font-size:30px;color:#0B6FB0;font-weight:bold;}
	.right_content .con_top .span22{}
	.right_content .con_top .span22 span{font-size:15px;color:#0B6FB0;font-weight:bold;}
	.right_content .con_cen{}
	.right_content .con_cen span{font-size:15px;color:#0B6FB0;font-weight:bold;}
	
	.right_content .con_bot{}
	
	
	.right_ .right_list{ margin:10px 0;}
	.right_list ul li{ float:left; padding:10px 0; width:100px;text-align:center; border-right:1px solid #ccc;}
	.right_list ul .li1{}
	.right_list ul .li2{ width:130px;}
	.right_list ul .li5{ border:0;}
	.right_list ul li span{font-size:20px;color:#333;font-weight:bold;line-height:40px;} 
	
	
	.right_ .right_look{line-height:30px; margin:10px 0;}
	.right_look img{ vertical-align:middle;}
	.right_look a{ color:#333;font-size:14px; padding:0 20px; display:inline-block; background:rgba(139,186,217,0.4); border-radius:5px;}
	.right_look a:hover{background-color:rgba(139,186,217,1);}
	.right_look .span1{font-size:16px;color:#0B6FB0;font-weight:bold;}
	
	
	.right_ .right_buy{}
	.right_buy .buy_mun{line-height:28px; margin-bottom:10px;}
	.right_buy .buy_mun .mun{}
	
	.right_buy .con_num1{text-align:center; color:#333; line-height:25px;}
	.con_num1 .left{ width:20px; height:25px; border:1px solid #ccc;}	
	.con_num1 .left a{ color:rgba(204,204,204,1);}	.con_num1 .right a{ color:#333;;}	
	.con_num1 .center{ width:36px; height:25px; border:1px solid #ccc; margin-left:-1px;}	
	.con_num1 .center .center1{ width:36px; height:23px; border:0; text-align:center; font-size:12px;}	
	.con_num1 .right{ width:20px; height:25px; border:1px solid #ccc; margin-left:-1px;}
	
	.right_buy .buy_b{ line-height:30px; margin-bottom:10px;}
	.right_buy .buy_b a{color:#333;font-size:14px; padding:0 20px; margin-right:10px; display:inline-block; background:rgba(139,186,217,0.4); border-radius:5px}
	.right_buy .buy_b a:hover{background-color:rgba(139,186,217,1);}
	.right_buy .buy_b .buy_1 a{font-size:14px; font-weight:bold; color:#0B6FB0;}
	 
	 .right_buy .buy_txt{ width:400px; line-height:25px;}
	/*中间*/
	.buy_content_details .details_center{color:#333;/*background:rgba(231,241,247,0.3); height:200px;*/}
	.details_center .center_left{padding:0 10px; width:950px;}
	.center_left h1{font-size:16px;font-weight:bold;line-height:50px; border-bottom:1px solid #ccc;}
	.center_left .left_cen{ line-height:40px; }
	.center_left h2{ margin:10px 0;padding-left:5px;font-size:15px;font-weight:bold; border-left:4px solid #0B6FB0;}
	
	
	.center_left .line_hei{ line-height:20px;}
	.center_left .line_hei i{margin-right:10px; display:inline-block;  width:20px; height:20px; vertical-align:bottom; background:url(../images/register_content_con_right.png) left center no-repeat;}
	.center_left .left_b{}
	.center_left .left_c{}
	.center_left .left_d{}
	
	
	
	.details_center .center_right{text-align:center;}
	.center_right .right_pic{ width:230px; margin-top:49px;}
	.center_right .right_txt .span1{font-size:16px;color: #333;font-weight: bold;line-height: 40px;}
	
	.buy_content_details .details_content_top{ width:1200px; height:40px; /*height:43px;border-bottom:3px solid #005073;*/ margin-top:2px;border-top:3px solid #8BBAD9;border-bottom:3px solid #8BBAD9;}
	.details_content_top a{ color:#333;}
	.details_content_top .top_cart{width:120px; height:40px; display:block;text-align:center;  /*text-indent:10px;*/font-size:15px; font-weight:bold; line-height:40px;/*border-top:3px solid #8BBAD9;margin-right:20px;*/ }/*rgba(11,111,176,0.8)*/
	.details_content_top1 .top_cart{ }
	.details_content_top .top_info{background:#0B6FB0;color:#fff;}
	.details_content_top1 .top_info{/*border-top:3px solid #005073;*/ background:#005073; color:#fff;}
	.details_content_top .top_all{width:670px; height:40px; display:block; text-align:right; padding-right:10px;line-height:40px;/*border-top:3px solid #8BBAD9;*/}
	.details_content_top .top_all .span1{font-size:14px; font-weight:bold;}
	.details_content_top .top_all .span2{font-size:10px;/* margin:0 20px 0 5px;*/}
	
	.buy_content_details .details_content_cen{ padding:0 10px;}
	.details_content_cen h2,.details_content_pic h2,.details_content_report h2{margin:10px 0;padding-left:5px;font-size:15px;font-weight:bold; border-left:4px solid #0B6FB0;}
	.details_content_cen .cen_top{ line-height:30px;}
	.cen_top .top_a i{ font-style:normal; padding:0 5px;}
	.cen_top .line_hei{ margin-right:10px; padding:0 16px 0 0;}
	.details_content_cen p{ margin-left:52px;}
	.details_content_cen .cen_cen{ border:1px solid #ccc; margin:10px 0; padding:5px 10px; line-height:25px; border-radius:3px;}
	
	.buy_content_details .details_content_pic .pic_h2{ padding:0 10px;}
	.details_content_pic .pic_con{margin:0 auto;margin-right:-20px;}
	.details_content_pic .pic_con .con_pic{ margin-left:10px; margin-right:10px; margin-bottom:14px;}
	
	
	.buy_content_details .details_content_report{ padding:0 10px;}
	.report_con .line_hei{ line-height:30px; margin-right:20px; padding-right:10px;}
	
	.buy_content_details .details_content_report1{ padding:0 0 0 10px;}
	.details_content_report1 h3{margin:10px 0;font-size:14px;font-weight:bold;}
	.details_content_report1 .report1_top{}
	.report1_top .line_hei{ margin-right:10px;}
	.report1_top .line_hei i{display:inline-block;  width:20px;height:20px; vertical-align:text-top; background:url(../images/register_content_con_right.png) left center no-repeat;}
	.report1_top .line_hei table{ text-align:center; line-height:38px;  display:table;border-collapse: collapse; border: none; }
	.report1_top .line_hei table td,.report1_top .line_hei table th{border:1px solid #ccc; }
	.report1_top .line_hei table th{font-size:14px;font-weight:bold;}
	
	.report1_top .line_hei table .tr{background: rgba(231,241,247,0.4);}
	
	
	/*上面每个都得设置相对定位(position:relative;)和buy.js已经z-index:99;和设置display:inline-block;这样才能各个浏览器显示兼容*/
	
/*只对FF浏览器*/	
	/* @-moz-document url-prefix(){
	  .select8_pai1{top:20px;}
  }*/

/*只对IE浏览器*/
	 /*@media \0screen{
		 .select .select-list .select8_pai1{top:20px; }
		 }*/
	/*只对IE浏览器top:20px\0;*/
	/*@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	 .select .select-list .select8_pai1{top:20px; }		
	}*/
	
/*谷歌浏览器和360浏览*/
	 /*@media screen and (-webkit-min-device-pixel-ratio:0){
		 .select .select-list .select8_pai1{top:20px; }
		 .select .select-list .select8_bian1{top:22px; }
		 .select .select-list .select8_color1{top:22px; }
		 .select .select-list .select8_country1{top:22px; }
		 }*/

/*汽车列表内容的样式*/	/*共1000辆车*/	 
	/*.buy_content_li .buy_content_li_top{ height:30px;background-color:#0B6FB0;}
	.buy_content_li .buy_content_li_top a{color:#fff;padding:0 20px;display:block; line-height:30px; font-size:14px;}
	.buy_content_li .buy_content_li_top a:hover{background-color:#0A6089;}
	.buy_content_li .buy_content_li_top_num a:hover{background-color:#0B6FB0;}
	.buy_content_li .buy_content_li_list{font-family:"微软雅黑";}
	
		.width_h_292_276{width:292px;height:276px;}
		.width_h_292_186{width:292px;height:186px;}
		.width_h_292_90{width:292px;height:90px;}
		.buy_content_li_list .buy_content_con_c{margin-right:5px; margin-bottom:6px; border:2px solid rgba(11,111,176,0);}
		.buy_content_li_list .buy_content_con_margin_l{margin:0 auto;margin-right:-8px;}
		.buy_content_li_list .buy_content_con_txt{background-color:#fff;}
		.buy_content_li_list p{padding:0 10px;}
		.buy_content_li_list .p1 a{color:#333; font-weight:bold; line-height:30px; font-size:14px;}
		.buy_content_li_list .p2{color:#333;font-size:12px;line-height:20px;}
		.buy_content_li_list .p2 em{padding:0 5px;}
		.buy_content_li_list .p3 i{color:#0B6FB0;font-size:24px;line-height:35px;}
		.buy_content_li_list .p3 s{color:#333;font-size:12px;line-height:35px; padding-left:10px;}*/








