@charset "utf-8";
/* CSS Document */


/*内容区域*/	
	
	/*用户主页右侧*/
	.user_content .user_content_con_c{}
	.user_content_con_c .user_home{}
	
	/*我的物流*/
	.user_content .content_goods_cart_top{ height:33px;/*border-bottom:3px solid #005073;*/ margin-top:2px;}
	.content_goods_cart_top .top_cart{width:100px; height:30px; display:block; text-indent:10px;font-size:15px; font-weight:bold; line-height:30px;border-bottom:3px solid #8BBAD9; padding-right:10px;}
	.content_goods_cart_top .top_recommend{border-bottom:3px solid #005073;}
	.content_goods_cart_top .top_all{width:860px; height:30px; display:block; text-align:right; padding-right:10px;line-height:30px;border-bottom:3px solid #8BBAD9;}
	.content_goods_cart_top .top_all .span1{font-size:14px; font-weight:bold;}
	.content_goods_cart_top .top_all .span2{font-size:10px;/* margin:0 20px 0 5px;*/}
	


















