@charset "utf-8";
/* CSS Document */


/*内容区域*/	
	
	/*用户信息右侧*/
	.user_content .user_content_con_c{}
	.user_content_con_c .user_home_info{ color:#333;}
	.user_home_info .info_top{height:33px; color:#333;}
    .info_top .top_personal h1{border-bottom:3px solid #005073;font-size:15px; font-weight:bold; line-height:30px; padding:0 80px 0 10px;}
    
	.user_home_info .info_content{color:#333; font-size:14px; background:#fff;}
	.user_home_info .info_content .sign{color:#0B6FB0; font-weight:bold;}
	.user_home_info .info_content a{color:#333;}
	.info_content .content_con{height:35px;line-height:35px; margin-bottom:10px;}
	.info_content .content_head{height:80px;line-height:80px;}
	.info_content .content_button{ width:600px; text-align:center;} 
	.info_content .content_button a{font-size:14px; padding:10px 30px; display:inline-block; background:rgba(139,186,217,0.4); border-radius:5px;}
	
	.content_con .con_name{width:180px; text-align:right;}
	.content_con .con_con{text-align:lef; padding-left:3px;}
	.content_con .con_select_m select{ margin-right:5px;}
	.content_con .con_con h1{ font-size:15px; font-weight:bold;}
	.content_con .con_head{ line-height:140px; padding-left:3px;}
	.content_con .con_txt input{ font-size:12px; height:30px; line-height:30px; padding-left:3px;}
	.content_con .con_txt select{font-size:12px; height:35px; line-height:35px;}
	.content_con .con_txt .select1{ margin-left:-1px;}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	


















