@charset "utf-8";
/* CSS Document */


/*内容区域*/	
	
	/*购物车*/
	.content_goods_cart{}
	.content_goods_cart .content_goods_cart_top{ height:33px; color:#333;/*background-color:#0B6FB0;*/}/*height:32px;设置比行高底下边框的高度*/
	.content_goods_cart_top .top_cart h1{border-bottom:3px solid #005073;font-size:15px; font-weight:bold; line-height:30px; padding:0 50px 0 10px;}
	.content_goods_cart_top .top_all .span1{font-size:15px; font-weight:bold; line-height:30px;}
	.content_goods_cart_top .top_all .span2{font-size:12px;line-height:30px; margin:0 20px 0 5px;}
	/*购物车内容top*/
	.content_goods_cart_con{}
	.content_goods_cart_con .content_goods_cart_con_top{ height:30px;color:#fff; font-size:14px;  text-align:center;background-color:#0B6FB0; /*background-color:#8BBAD9;*/line-height:30px;}
	
	.content_goods_cart_con_top .con_check{width:83px;}
	.content_goods_cart_con_top .con_check input{ vertical-align:text-bottom; margin-right:5px;}
	.content_goods_cart_con_top .con_goods{width:300px;}
	.content_goods_cart_con_top .con_priceb{width:152px;}
	.content_goods_cart_con_top .con_num{width:100px;}
	.content_goods_cart_con_top .con_pricea{width:150px; text-align:right;}
	.content_goods_cart_con_top .con_action{width:162px;}
	
	/*购物车内容*/
	.content_goods_cart_con_con{ padding:10px 15px; height:80px; line-height:20px;text-align:center; font-size:12px; border:1px solid #ccc;background-color:#fff;color:#333;}
	.content_goods_cart_con_con a{color:#333;}
	.content_goods_cart_con_con .con_check1{padding:0 10px 0 0px;}
	.content_goods_cart_con_con .con_goods1{ width:345px;}
	.content_goods_cart_con_con .con_action1{width:130px; line-height:20px;}
	.content_goods_cart_con_con .con_pricea1{width:100px;  text-align:right; padding-right:35px;}
	.content_goods_cart_con_con .con_num1{width:120px; text-align:center;}
	.content_goods_cart_con_con .con_priceb1{width:182px;}
	
	.content_goods_cart_con_con .con_goods1 .pic{width:110px; height:80px;}
	.content_goods_cart_con_con .con_goods1 .details{width:225px; height:80px; margin-left:5px;  text-align:left;}
	.content_goods_cart_con_con .con_goods1 .details em{padding:0 5px;}
	
	.content_goods_cart_con_con .con_num1 .left{ width:20px; height:20px; border:1px solid #ccc;}	
	.content_goods_cart_con_con .con_num1 .left a{ color:rgba(204,204,204,1);}	
	.content_goods_cart_con_con .con_num1 .center{ width:36px; height:20px; border:1px solid #ccc; margin-left:-1px;}	
	.content_goods_cart_con_con .con_num1 .center .center1{ width:36px; height:18px; border:0; text-align:center; font-size:12px;}	
	.content_goods_cart_con_con .con_num1 .right{ width:20px; height:20px; border:1px solid #ccc; margin-left:-1px;}
	
	/*购物车结算内容*/
	.content_goods_cart_con_money { line-height:50px; height:50px;background-color:rgba(139,186,217,0.9);}
	.content_goods_cart_con_money .money_check{}
	.content_goods_cart_con_money .money_check a{padding:0 0 0 16px; font-size:13px; color:#333; display:inline-block;}/*以上面的left15px对齐，多了1px边框*/
	.content_goods_cart_con_money .money_check .money_check1 {padding:0 0px 0 0;}
	.content_goods_cart_con_money .money_check input{ vertical-align:text-top; margin-right:5px;}
	.content_goods_cart_con_money .money_already{font-size:13px; color:#333; position:absolute; right:95px;}
	.content_goods_cart_con_money .money_already span{padding:0 3px; font-size:16px;font-weight:bold; color:#fff;}
	.content_goods_cart_con_money .money_pay a{padding:0 30px; font-size:18px; font-weight:bold; color:#fff;display:inline-block;background-color:#0B6FB0;}
























